@import '../../components/variables.css';

.label {
  cursor: pointer;
}

.input {
  display: none;
}

.margin {
  margin: 3em auto;
}

.space {
  position: relative;
  animation-name: move;
  animation-duration: 2s;
}

@keyframes move {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}
